body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: regular;
  color: #000000;


  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header-logo {
  background-color: #ee3643;  
  max-width: 220px;

  font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 24px; 
    color: #ffffff;

}

.top-navigation {
  background-color: #f3f7f9;
} 

.top-menu {
  background-color: #293449;
  font-size: 17px;
  line-height: 
  font-weight: regular;
  color: #ffffff;
}

.site-navigation {
  background-color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-weight: regular;
  color: #ffffff;
}

.top-menu,
.selection-list,
.site-menu,
.site-navigation,
.footer-nav-list-one,
.footer-nav-list-two,
.footer-social-list,
.breadcrubs,
.filters-list,
.items-list,
.products-list,
.pagination-list,
.main-header-logo,
.user-navigation {
  list-style: none;
}

.top-menu a,
.main-header-logo a,
.footer-nav-list-one a,
.footer-nav-list-two a,
.site-navigation a {
  color: #ffffff;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
  background-color: #ca2c37;

}

.main-header-logo a:active {
  background-color: #ba2732;
}

.top-menu a:hover,
.top-menu a:focus {
  background-color: #212a3a;
}

.top-menu a:active {
  background-color: #161d29;
}

.order-link a:hover,
.order-link a:focus {
  background-color: #5fbb2d;
}

.order-link a:active {
  background-color: #518534;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #cacaca;
}

.site-menu a:hover,
.site-menu a:focus {
  background-color: #293449;
}

.site-menu a:active {
  background-color: #1d2739;
}

.row-telefon a,
.row-heading {
  color: red;
}

.beschriftung {
  background-color: #f9f5f0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.beschriftung-inner {
  background-color: #f2f6f8;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.selection{
  background-color: #32425c;
}

.selection-list a {
  color: #ffffff;
}

.appointment-item input,
.appointment-item textarea {
  font: inherit;
  background-color: transparent;
}

.catalog-list {
  list-style: none;
}

.company-item {
  border: 1px solid #e5e5e5;
}

.company-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.service {
  background-color: #f4f8fa;
}

.main-footer {
  color: #ffffff;
  background-color: #32425c;
}

.part-footer {
  background-color: #293449;
}

.description {
  background-color: #f2f6f8;
}

.footer-nav-list-two a {
  color: #ffd180;
}

.footer-nav-list-one a:hover,
.footer-nav-list-two a:focus {
  text-decoration: underline;
}

.footer-nav-list-one a:hover,
.footer-nav-list-two a:focus {
  text-decoration: underline;
}


.footer-nav-list-two a:active {
  color: #ffd180;
}

.footer-nav-list-one a:active {
  color: #f1f5f7;
}

.footer-social {
  text-align: center;
}

.entwickler-contacts a {
  color: #ffd180;
}

.entwickler-contacts a:hover,
.entwickler-contacts a:focus {
  text-decoration: underline;
}

.entwickler-contacts a:active {
  color: #ee3643;
}




/*Raster*/

html,
body {
  min-width: 960px;  
}

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
}

.top-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 320px;
}
  
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 30px;
  
  background-color: #293449;
  
  min-height: 42px; 
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation-wrapper .container {
  display: flex;
  
}

.main-header-logo {
  margin: 0;
  padding: 0;

}

.main-header-logo a {  
  display: block;
  
  padding: 10px 50px;

  vertical-align: middle;
}

.order-link {
  background-color: #63a63e;
}

.top-menu {

  margin: 0;
  padding: 0;

  min-height: 42px;
}


.top-menu {
  display: flex;
  flex-wrap: wrap;
  width: 760px;

}


.top-menu a {
  display: block;
  
  padding: 10px 20px;

  vertical-align: middle;
}

.top-menu .search-link a {

  padding-left: 50px;
  padding-right: 260px;

}

.bookmarks-link {
  position: relative;
}

.bookmarks-link::before {
  content: "";

  position: absolute;

  width: 15px;
  height: 17px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ee3643;
}







.navigation-mitte {
  width: 940px;
  margin: 0;
  padding: 0;
  

  min-height: 158px;
}

.row-heading {
  width: 183px;

  margin:0;
  padding:0;

  font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
}

.telefon-adress {
  width: 270px;
}


.row-telefon {

  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;

    margin:0;
    padding:0;

}



.telefon-adress .row-telefon a{
  display: block;


  padding: 13px 52px 11px 74px;
}



.user-navigation {
  display: flex;

  margin: 0;
  padding: 0;  
}

.user-navigation a {
  display: block;
  

  vertical-align: middle;
  background-color: #ffffff;
}

.user-navigation .login-link {
  position: relative;
  
  
}

.registration-link {
  padding: 14px 25px 11px 25px;

  width: 100px;
  height: 20px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.login-link {
  padding: 14px 27px 15px 48px;
  margin-right: 10px;
  width: 121px;
  width: 46px;
  height: 16px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  
}




.login-link::before {
  content: "";
  
  position: absolute;
  top: 15px;
  left: 15px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.row-telefon a{
  position: relative;
}

.row-telefon a::before {
  content: "";

  position: absolute;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ee3643;
}












.site-navigation {
  width: 940px;
  
  margin-top: 0;
  margin-bottom: 60px;

  min-height: 60px;
  background: #32425c;
}

.site-menu {
  margin:0;
  padding:0;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 940px;


  justify-content: space-between;
}

.site-menu a {
  display: block;
  
  padding: 20px 30px;

  vertical-align: middle;
}

.navigation-mitte {
  display: flex;

  justify-content: space-between;
}

.items {
  background-color: #3bbce3;
}

.items-list {
  display: flex;

  margin: 0;
  padding: 0;
}

.items-img {
  width: 300px;
  height: 123px;

  background-color: #ffbf47;

  margin: 3px;
}

.gallery-content {
  width: 620px;
}

.products {
  min-height: 430px;
  margin-bottom: 21px;
}

.company {
  min-height: 430px;
  margin-bottom: 85px;
}

.products-list {
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 220px;
  height: 318px;

  border:  1px solid #e5e5e5;
}

.company-item {
  width: 220px;
  height: 145px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.selection {
  width: 240px;
}

.selection-list {
  margin:0;
  padding:0;
}

.delivery {
  width: 310px;
  min-height: 150px;

  margin-left: 10px;
}

.container .selection-delivery {
  display: flex;
}

.information .container {
  display: flex;
}

.main-footer {
  min-height: 300px;
}

.main-footer .container {
  display: flex;
}

.footer-nav-list-one li{
  display: inline;
}

.footer-nav-list-two li{
  display: inline;
}

.footer-address {
  width: 340px;
}

.footer-nav {
  width: 550px;
  min-height: 193px;
}

.part-footer .container {
  display: flex;
}

.footer-copyright {
  width: 240px;
  margin:0;
}

.footer-social {
  width: 180px;
  margin-left: 150px;
}

.entwickler-contacts {
  width: 300px;
  margin-left: auto;
}

.description {
  width: 100%;
  min-height: 260px;

  background-color: #f2f6f8;
}

.description .container {
  padding: 67px 132px 73px 130px;
}

.breadcrubs {
  padding: 0;
  margin: 0;

  min-height: 35px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;

  min-height: 750px;
}

.catalog {
  width: 700px;

  min-height: 1050px;

  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding:0;

  list-style: none;

  margin-bottom: 52px;

}

.catalog-item {
  width: 220px;
  min-height: 318px;

  margin-bottom: 20px;
  margin-right: 20px;

  
}


.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;

  
  min-height: 38px;
}
