body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: regular;
  color: #000000;


  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.top-menu,
.selection-list,
.site-menu,
.site-navigation,
.footer-nav-list-one,
.footer-nav-list-two,
.footer-social-list,
.breadcrubs,
.filters-list,
.items-list,
.products-list,
.pagination-list,
.main-header-logo,
.user-navigation {
  list-style: none;
}

.top-menu a,
.main-header-logo a,
.footer-nav-list-one a,
.site-navigation a {
  color: #ffffff;
}



/*_______________HEADER_______________*/

.main-header-logo {
  background-color: #ee3643;  


  font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 24px; 
    color: #ffffff;
} 

.top-navigation {
  background-color: #f3f7f9;
} 

.top-menu {
  background-color: #293449;
  font-size: 17px;
  line-height: 
  font-weight: regular;
  color: #ffffff;
}

.site-navigation {
  background-color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-weight: regular;
  color: #ffffff;
}


/*________Interaktion__________*/




.main-header-logo a:hover,
.main-header-logo a:focus {
  background-color: #ca2c37;
}

.main-header-logo a:active {
  background-color: #ba2732;
}

.top-menu a:hover,
.top-menu a:focus {
  background-color: #212a3a;
}

.top-menu a:active {
  background-color: #161d29;
}

.order-link a:hover,
.order-link a:focus {
  background-color: #5fbb2d;
}

.order-link a:active {
  background-color: #518534;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #cacaca;
}

.site-menu a:hover,
.site-menu a:focus {
  background-color: #293449;
}

.site-menu a:active {
  background-color: #1d2739;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-nav-list-one a:hover,
.footer-nav-list-one a:focus {
  text-decoration: underline;
}

.footer-nav-list-two a:hover,
.footer-nav-list-two a:focus {
  text-decoration: underline;
}

.footer-nav-list-one a:active {
  color: #f1f5f7;
}

.footer-nav-list-two a:active {
  color: #ffd180;
}

.company-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  background-color: #ee3643;
}

.footer-social-list a:active {
  background-color: #ee3643;
}



/*_______________COMPANY______________*/

.beschriftung {
  background-color: #f9f5f0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.company-all .beschriftung a {

  margin-left: 180px;  
}

.products-all .beschriftung a {

  margin-left: 280px;  
}

.beschriftung-inner {
  background-color: #f2f6f8;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.button {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;

  padding: 13px 60px;

  border-radius: 3px;
}

.catalog-list {
  list-style: none;
}

.company-item {
  border: 1px solid #e5e5e5;
}

.appointment-item input,
.appointment-item textarea {
  font: inherit;
  background-color: transparent;
}


/*_______________SERVICE_________________*/

.service {
  background-color: #f4f8fa;
}

.selection{
  background-color: #32425c;
}

.selection-list a {
  color: #ffffff;
}


/*________________FOOTER________________*/


.main-footer {
  color: #ffffff;
  background-color: #32425c;
}

.part-footer {
  background-color: #293449;
}

.description {
  background-color: #f2f6f8;
}

.footer-nav-list-two a {
  color: #ffd180;
}

.row-telefon a,
.row-heading {
  color: red;
}


.footer-social {
  text-align: center;
}

.entwickler-contacts a {
  color: #ffd180;
}

.entwickler-contacts a:hover,
.entwickler-contacts a:focus {
  text-decoration: underline;
}

.entwickler-contacts a:active {
  color: #ee3643;
  text-decoration: none;
}







/*_____________Raster_____________________*/

html,
body {
  min-width: 1200px;  
}

.main-header {
  margin-bottom: 59px;
}

.top-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 30px;
  
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper  .container{
  display: flex;
}

.main-header-logo {
  display: block;

  margin: 0;
  
  padding: 13px 55px;


  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  position: absolute;
}

.order-link {
  background-color: #63a63e;
}

.top-menu {

  margin: 0;
  padding: 0;

  margin-left: 210px;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
}

.top-menu a {
  display: block;
  
  padding: 10px 20px;

  vertical-align: middle;

  max-width: 150px;
}

.top-menu .bookmarks-link {
  position: relative;

  padding-left: 50px;

}


.bookmarks-link::before {
  content: "";

  position: absolute;
  top: 15px;
  right: 120px;

  width: 15px;
  height: 17px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

 }

.top-menu .cart-link {
  position: relative;

  padding-left: 30px;
 }

.cart-link::before {
  content: "";

  position: absolute;
  top: 15px;
  right: 105px;


  width: 20px;
  height: 20px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0,3;

}

.cart-link:hover::before,
.cart-link:focus::before,
.cart-link:active::before {

  opacity: 1;
  
}

.top-menu .search-link {
  position: relative;

  padding-left: 40px;
  padding-right: 180px;
  margin-left: 10px;
 }

.search-link::before {
  content: "";

  position: absolute;
  top: 13px;
  right: 240px;


  width: 20px;
  height: 20px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;

}

.search-link:hover::before,
.search-link:focus::before,
.search-link:active::before {

  opacity: 1;
  
}










/*___________________________________*/

.navigation-mitte {
  width: 940px;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
}

.navigation-mitte {
  display: flex;

  justify-content: space-between;
}

.row-heading {
  width: 183px;

  margin:0;
  padding:0;
  margin-left: 53px;

  font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
}

.telefon-adress {
  width: 270px;
}


.row-telefon {

  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;

    margin:0;
    padding:0;

}

.telefon-adress .row-telefon a{
  display: block;

  padding: 13px 52px 11px 74px;
}

.row-telefon a{
  position: relative;
}

.row-telefon a::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.user-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;  
}

.user-navigation a {
  display: block;
  

  vertical-align: middle;
  background-color: #ffffff;
}

.user-navigation .login-link {
  position: relative;
  
}

.registration-link {
  padding: 14px 25px 11px 25px;

  width: 100px;
  height: 20px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.login-link {
  padding: 14px 27px 15px 48px;
  margin-right: 10px;
  width: 121px;
  width: 46px;
  height: 16px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  
}


.login-link::before {
  content: "";
  
  position: absolute;
  top: 15px;
  left: 15px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 0.3;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}


/*____________________________________*/


.site-navigation {
  width: 940px;
  
  margin-top: 0;
  margin-bottom: 60px;

  min-height: 60px;
  background: #32425c;
}

.site-menu {
  margin:0;
  padding:0;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  width: 940px;


  justify-content: space-between;
}

.site-menu a {
  display: block;
  
  padding: 20px 30px;

  vertical-align: middle;
}

/*__________________________________*/


.items-list {
  display: flex;

  justify-content: space-between;

  margin:0;
  padding: 0;
  list-style: none;

}

.items-list-one {
  margin-bottom: 20px;
}

.items-list-two {
  display: flex;

  justify-content: space-between;

  margin:0;
  padding: 0;
  list-style: none;
 
}

.items-list-zusammen {
  margin:0;
  padding: 0;

  list-style: none;
}

.items-img-eins {
  width: 300px;
  background-color: #ffbf47;
  
}

.items-img-zwei {
  width: 300px;
  background-color: #3bbce3;
 
}

.items-img-drei {
  width: 300px;
  background-color: #dc91d8;
  
}

.items-img-vier {
  width: 300px;
  background-color: #8ed78f;
  margin-bottom: 20px;
 
}

.items-img-feunf {
  width: 300px;
  background-color: #ffc047;
  
}

.gallery-content {
  width: 620px;

  margin:0;
  padding: 0;
}

.products {
  min-height: 430px;
  margin-bottom: 21px;
}

.products-list {
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 220px;
  height: 318px;

  border:  1px solid #e5e5e5;
}

/*_____________________________________*/


.company {
  margin-bottom: 85px;
}

.company-item {
  width: 220px;
  height: 145px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}


/*_______________________________________*/

.information-two {
  width: 300px;
  margin-left: 80px;
}

.information-one {
  width: 540px;
}

.selection {
  width: 240px;

  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
}

.selection-list {
  margin:0;
  padding:0;


}

.delivery {
  width: 310px;
  
  
}

.container .selection-delivery {
  display: flex;


}



.information .container {
  display: flex;
}



/*____________________________________*/



.main-footer .container {
  display: flex;
}

.footer-nav-list-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 550px;
}

.footer-nav-list-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 550px;
}

.footer-nav-list-one {
  margin:0;
  padding:0;

  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;

}

.footer-nav-list-two {
  margin:0;
  padding:0;
  
  padding-top: 30px;


  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
  
}

.logo-adress {
  display: flex;
  flex-direction: column;
}

.footer-address {
  width: 340px;
  margin-top: 32px;

  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}

.footer-nav {
  width: 550px;
  margin-top: 42px;
  margin-bottom: 56px;

  margin-left: auto;


}

.part-footer .container {
  display: flex;
}

.footer-copyright {
  width: 240px;
  margin:0;
}

.footer-social {
  width: 200px;
  margin-left: 100px;
}

.entwickler-contacts {
  width: 300px;
  margin-left: auto;
}

.description {
  width: 100%;
  min-height: 260px;

  background-color: #f2f6f8;
}

.description .container {
  padding: 67px 132px 73px 130px;
}

.breadcrubs {
  padding: 0;
  margin: 0;

  min-height: 35px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;

  min-height: 750px;
}

.catalog {
  width: 700px;

  min-height: 1050px;

  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;



  margin: 0;
  padding:0;

  list-style: none;

  margin-bottom: 52px;

}


.catalog-item {
  width: 220px;
  min-height: 318px;


  margin-bottom: 20px;
  margin-right: 20px;

}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;

  
  min-height: 38px;
}

.entwickler-contacts {
  display: flex;

}

.entwicklung {
  margin-left: 83px;
}

.breadcrubs {
  display: flex;

}

.pagination-list {
  display: flex;
}

h3 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.delivery-beschriftung {
  font-family: Cuprum;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.icon-text {
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;

}

.button-items {
  opacity: 0.1;
  background-color: #000000;

  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  padding: 14px 23px;

  border-radius: 3px;
}

.items-beschriftung {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.information-two p {
  margin-bottom: 30px;
  width: 180px;
}

.information-two .button {
  display: block;
  margin-top: 40px;

}

.social-button {
  
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;
  background-color: #212a3a;

  border-radius: 50%;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 180px;
  
}

.icon-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.items-list li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.items-list-zusammen li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.catalog-list li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


